body{
  background: linear-gradient(to left, #0f0c29, #00308F, #24243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:white;
}
.App {
  text-align: center;
}
img{
  margin:20px;
}
.navbar{
  text-align: right;
  background-color: #171522;
  width: 100%;
}
.details-box{
  display: inline-block;
  background: #00308F;
  padding:5px;
  border-radius: 4px;
  margin:5px 10px;
}
.navbar button{
  margin:10px;
}
a{
  text-decoration: none;
  color:white;
  font-weight: 100;
}
.top-logo{
  margin-top: 100px;
}
.pink{
  color: #e91e63;
}