body{
  background: linear-gradient(to left, #0f0c29, #00308F, #24243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:white;
}
.App {
  text-align: center;
}
img{
  margin:20px;
}
.navbar{
  text-align: center;
  position: absolute;
  right: 0;
  top:0;
  margin:5px;
}
.navbar button{
  margin:10px;
}
a{
  text-decoration: none;
  color:white;
  font-weight: 100;
}
.top-logo{
  margin-top: 100px;
}